
@model DataMapping.Entities.Client

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainHeader{
    @Html.Partial("PartialViews/PartialAdminHeader")




}

@section Container{

    <div>
        <h1>Update @Model.Name Info</h1>

    </div>

    <div class="col-lg-10">

        @using (Html.BeginForm("Edit", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.Id }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ImgUrl)
            <form>

                <table class="profile_edit_table">

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.Name)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Client Name" })

                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.ArabicName)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextBoxFor(model => model.ArabicName, new { @class = "form-control", placeholder = "Enter Client Name" })

                            @Html.ValidationMessageFor(model => model.ArabicName)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.WebsiteUrl)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextAreaFor(model => model.WebsiteUrl, new { @class = " form-control" })

                            @Html.ValidationMessageFor(model => model.WebsiteUrl)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.WorkField)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextAreaFor(model => model.WorkField, new { @class = " form-control" })

                            @Html.ValidationMessageFor(model => model.WorkField)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.ArabicWorkField)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextAreaFor(model => model.ArabicWorkField, new { @class = " form-control" })

                            @Html.ValidationMessageFor(model => model.ArabicWorkField)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.ImgUrl)
                        </td>
                        <td class="text-left" colspan="4">

                            <iframe src='@Url.Action("UploadDocument", "ImageUpload",new { Url = Model.ImgUrl })' width="350px" height="200px" scrolling="no"></iframe>

                            <br /><br />
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center" colspan="6">
                            <input type="button" id="BackToList" class="btn btn-warning btn-update" value="Back To List">
                        </td>

                        <td class="text-center" colspan="6">
                            <input type="submit" class="btn btn-success btn-update" value="Edit Client">
                        </td>
                    </tr>
                </table>
            </form>
        }
    </div>

    <br />


}

@section MainFooter{

    @Html.Partial("PartialViews/PartialAdminFooter")
}
@section styles{

}
@section  JavaScriptSection{

    <script src="datepicker-ar.js"></script>
    <script src="datepicker-fr.js"></script>
    <script src="datepicker-he.js"></script>
    <script src="datepicker-zh-TW.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#datetimepickerview").datepicker();
        });
        $('#BackToList').click(function () {
            window.location.href = "/Clients/Index";
        });
    </script>

}





