<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1" />
        <title>More Holidays</title>
        <link rel="icon" href="~/Content/MoreHoliday/image/favicon-32x32.png" sizes="32x32">
        <link href="~/Content/MoreHoliday/css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/MoreHoliday/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/MoreHoliday/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/MoreHoliday/dashstyle.css" rel="stylesheet" />

        @*@RenderSection("PageMetadata")*@
        @*<title>: Asfar Tours- your business partner :</title>*@

        @*@RenderSection("PageTitle")
         STYLES 
        <link rel="stylesheet" href="/Content/_AdminLayout/css/style.css" />
        <link id="bootstrap-style" href="/Content/_AdminLayout/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Content/AdminLayout/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link id="base-style" href="/Content/_AdminLayout/css/style.css" rel="stylesheet">
        <link id="base-style-responsive" href="/Content/_AdminLayout/css/style-responsive.css" rel="stylesheet">

        <link href="~/Content/assets/css/AllCS.css" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css" />
        <style type="text/css">
        </style>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>*@
    </head>
 
<body>

    @RenderSection("MainHeader")
   
    <!-------------------------------- start container ------------------------>

    <div class="container text-center main">

        @RenderSection("Container")

    </div>

    <!-------------------------------- end container ------------------------>

    <!------------- start footer ------------>

            @RenderSection("MainFooter")       

    <!------------- end footer ------------>

    <!------------- end contain  ------------->
    <!--Begin Model Code-->
    <!-- more Example please Visit http://nakupanda.github.io/bootstrap3-dialog/ -->
    <link href="~/Content/assets/css/bootstrap-dialog.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-dialog.js"></script>

    <!--End Model Code -->
    <script src="/Content/assets/js/typeahead.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/Content/assets/js/ALLJS.js"></script>
    <script src="~/Content/MoreHoliday/js/custom.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>

    
    @RenderSection("JavaScriptSection")
    @RenderSection("styles", false)


</body>

</html>
