@model DataMapping.Entities.Vacancy

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainHeader{
    @Html.Partial("PartialViews/PartialAdminHeader")
}


@section Container{
    <div class="main_block">
        <div class="inner_block">

        </div>
        <div class="inner_block text-center">
            <h1>
                Create Vacancy
            </h1>
        </div>
    </div>
    <div>

    </div>

    <div class="col-lg-10">

        @using (Html.BeginForm("Create", "Vacancies", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form>

                <table class="profile_edit_table">

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.Name)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Vacancy Name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left" colspan="2">
                            @Html.LabelFor(model => model.ArabicName)
                        </td>
                        <td class="text-right" colspan="4">
                            @Html.TextBoxFor(model => model.ArabicName, new { @class = "form-control", placeholder = "Enter Vacancy Name" })
                            @Html.ValidationMessageFor(model => model.ArabicName)
                        </td>
                    </tr>


                    <tr>
                        <td class="text-center" colspan="6">
                            <input type="button" id="BackToList" class="btn btn-warning btn-update" value="Back To List">
                        </td>

                        <td class="text-center" colspan="6">
                            <input type="submit" class="btn btn-success btn-update" value="Create Vacancy">

                        </td>
                    </tr>
                </table>
            </form>
        }
    </div>

    <br />


}

@section MainFooter{

    @Html.Partial("PartialViews/PartialAdminFooter")
}
@section styles{

}
@section  JavaScriptSection{

    <script src="datepicker-ar.js"></script>
    <script src="datepicker-fr.js"></script>
    <script src="datepicker-he.js"></script>
    <script src="datepicker-zh-TW.js"></script>

    <script type="text/javascript">
            $('#BackToList').click(function () {
            window.location.href = "/Vacancies/Index";
        });
    </script>

}



